
.card-body
{
    padding: 0;
}
.list-group-item
{
    margin-right: 0;
}
.list-group
{
    border-radius: 0;
}
.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
  }
  
  /* Vertical line */
  .collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
  }
  
  .collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
  }
  
  .collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
  }
  span {
    content: "\27A2";
}
.dot
{
    font-size: 30px;
    padding: 10px;
}
 .site-page
 {
  padding: 40px;
 } 
 hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width:35%;
} 