.bimage{background-image: url("/testdocs/home-slider/background.jpg");}
.minu53ML{margin-left: -53px;}
.h44{height: 44px;}
.fs16cBropT5{font-size:16px; color:brown; padding-top:5px;}
	.square {
	  height: 165px;
	  width: 165px;
	  margin: 20px 15px 15px 15px;
	  color: #ffff;
	  text-align: center;
	  padding-top: 20px;
	  border: 2px solid;
	  box-shadow: 5px 5px gray;
	  padding-left: 5px;
	  padding-right: 5px;
	}

	.squaretotal {

		height: 185px;
		width: 185px;
		margin: 10px;
		padding-top: 20px;
		border: 2px solid #ffcb0c;
		box-shadow: 5px 5px gray;
	}

	.squaretotalr{
		height: 200px;
		width: 200px;
		margin: 10px 10px 10px 10px;
	}

	.square h1{
		font-size: 33px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0px;
		font-weight: bold;
		color : #fef500;
		font-family: digital-7regular;
	}

	.fa-4x { font-size: 2.5em; }

	.s11-color{ background-color: #13a1dd; }
	.s12-color{ background-color: #3a267c; }
	.s13-color{ background-color: #497ad6; }
	.s14-color{ background-color: #18446f; }
	.s21-color{ background-color: #548526; }
	.s22-color{ background-color: #7d2787; }
	.s23-color{ background-color: #b2712b; }
	.s24-color{ background-color: #852626; }
	.s31-color{ background-color: #0b4b74; }
	.s32-color{ background-color: #716725; }
	.s33-color{ background-color: #178436; }
	.s34-color{ background-color: #d02726; }
	.s41-color{ background-color: #13a1dd; }
	.s42-color{ background-color: #d93c97; }
	.s43-color{ background-color: #bd6bff; }
	.s44-color{ background-color: #ff3366; }
	.s51-color{ background-color: #30abd4; }
	.s52-color{ background-color: #f86666; }
	.s53-color{ background-color: #a8aeff; }
	.s54-color{ background-color: #75be64; }

	.s61-color{ background-color: #1d6943; }
	.s62-color{ background-color: #228252; }
	.s63-color{ background-color: #2ca467; }
	.s64-color{ background-color: #1cb485; }

	.squareequal { margin-top: 60px; color: black; width: 4.333%; }
	#footer { padding: 0px 0 25px 0; }

	.circle-icon {
		width: 90px;
		height: 90px;
		border: 3px solid rgba(0, 0, 0, 0.4);
		border-radius: 100%;
		margin: 0 auto 10px;
		padding: 15px;
		background: #fff;
		color: red;
	}

	.circle-icon img {
		display: block;
		margin: 0 auto 5px;
		max-width: 100%;
		height: auto;
		vertical-align: bottom;
	}

	.carousel-control .glyphicon-chevron-left {
		margin-left: 79px;
	}
	.carousel-control .glyphicon-chevron-right {
		margin-right: 16px;
	}

	.carousel-control {
		width: 0%;
	}

	.lims-circle-icon{
		padding-top: 7px;
	}

	.lims-text{

			margin-left: 9px;
			color: #7a2128;
			font-style: italic;
			font-weight: 600;

	}
