.checkbox { min-height: 0px !important; margin-top: 0px; margin-bottom: 0px;}
.checkbox label {font-weight: 700;}
.checkbox input[type="checkbox"] { margin-left: 0px; margin-top: 12px;}
.unlockbtn { background: #30a5ff; color: #fff; border-radius: 2px; padding: 3px 16px 3px 16px; font-size:14px;}
