#table_outer {overflow-x: scroll; }
#table_outer th{border:1px solid gainsboro;}
#table_container_1 { min-width: 200%; }
section{background-color: #eee;padding:10px;}
.form-horizontal{padding-bottom:10px;}
.wd1080{width:1080px !important;}

.box{
    
    padding: 20px;
    display: none;
    margin-top: 20px;
}
.form-middle {
    padding-top: 5px;
    margin: 0 auto;
    width: 100%;
  }
  .row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .note{
    padding: 10px;
  }