input[type="radio"]
{
  appearance: none;
}

input[type="radio"] + label
{
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
}

input[type="radio"] + label::before
{
  content: "";
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid #686de0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}

input[type="radio"] + label::after
{
  content: "";
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  border: 1px solid #686de0;
  background: #686de0;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}

input[type="radio"]:checked + label::after
{
  opacity: 1;
}
.serach-box{
  width: 50%;
  border: 1px solid;
}
.col-sm .serach-box{
  text-align: center;
  width: 321px;
    height: 50px;
}
.row .col-sm-3 {
      text-align: center;
    position: relative;
/*    left: 254px;*/
}
.box{
  
  left: 270px;
    position: relative;
}
.search-btn{
     border: 1px solid black;
    color: white;
    background: #5a8c92;
    left: 80px;
    position: relative;
    height: 45px;
    border-radius: 10px;
}
.containerbox{
  border: 1px solid;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
}
.row .textenter .serach-box{
  text-align: center;
}
#error_msg{
  color:red;
  text-align: center;
}
@media screen and (min-width:1024px){
 .search-btn{
     border: 1px solid black;
    color: white;
    background: #5a8c92;
    left: 80px !important;
    position: relative;
    height: 45px;
    border-radius: 10px;
}
.col-sm .serach-box{
  text-align: center;
  width: 500px !important;
    height: 50px;
}
.box {
    left: 83px !important;
    position: relative !important;
}
input[type="radio"] + label {
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
}
.row .col-sm-3 {
    text-align: center !important;
    position: relative;
    /* left: 254px; */
}
}
@media (min-width: 576px){
.search-btn{
     border: 1px solid black;
    color: white;
    background: #5a8c92;
    left: 80px !important;
    position: relative;
    height: 45px;
    border-radius: 10px;
}
}
@media screen and (min-width: 375px) {
.col-sm .serach-box {
    text-align: center;
    width: 100%;
    height: 50px;
}
.search-btn {
     border: 1px solid black;
    color: white;
    background: #5a8c92;
    left: 80 !important;
    position: relative;
    height: 45px;
    border-radius: 10px;
}
.row .col-sm-3 {
    text-align: left;
    position: relative;
    /* left: 254px; */
}
}
@media screen and (max-width:680px) {
.col-sm .serach-box {
    text-align: center;
    width: 100%;
    height: 50px;
    position: relative !important;
    left: unset !important;
}

.search-btn {
     border: 1px solid black;
    color: white;
    background: #5a8c92;
    left: 80 !important;
    position: relative;
    height: 45px;
    border-radius: 10px;
}
.box {
    left: unset ;
    position: relative !important;
}
.row .col-sm-3 {
    text-align: left;
    position: relative;
    /* left: 254px; */
}

}


@media screen and (min-width:1040px) {
.search-btn{
     border: 1px solid black;
    color: white;
    background: #5a8c92;
    left: 80px !important;
    position: relative;
    height: 45px;
    border-radius: 10px;
}

}
 
@media screen and (max-width:1280px){
 .search-btn{
     border: 1px solid black;
    color: white;
    background: #5a8c92;
    left: 100px !important;
    position: relative;
    height: 45px;
    border-radius: 10px;
}
.box {
    left: 100px !important;
    position: relative !important;
}
}