ul { list-style-type: none; }
.ul { margin-left: -10px; }
.circle{text-align: center; background: #f1f4f7; }
.dot a{color: #affafd;  }
.dot {
width: 130px;
height: 135px;
border-radius: 50%;
font-size: 18px;
color: #affafd;
margin: 10px;
padding-top: 40px;
text-align: center;
display: inline-block;
border: 4px solid #3a3737;
}

.dot:hover {background: rgb(52, 49, 49); }

.form-popup {
  display: none;
  position: absolute;
  border: 2px solid #7b7641;
  background: #12002a;
  padding: 10px;
  font-size: 14px;
  z-index: 1;
  border-radius: 19px;
}

@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
.accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f146";
    float: right;
    color: inherit;
}



.collapsed .accordion-toggle:before {
    /* symbol for "collapsed" panels */
    content:"\f0fe";
}

.lh31{line-height: 31px;}
.mt15{margin-top: 15px;}
.dnone{display: none;}
.mt13{margin-top: 13px;}
.bcfff{background:#747474; color:#fff;}
.dotbg{background: #019f9d;}
.fs30{font-size: 30px;}
.fs12_fwB{font-size: 12px; font-weight: bold;}
.dot2{background: #008ae4;}
.dot3{background: #b725cc;}
.dot4{background: #a7233b;}
.dot5{background: #fc6ba2;}
.dot6{background: #fc5b60;}
.dot7{background: #ee8132;}
