//extracted and created this file on 16-03-2022 by Akash 

.glyphicon{margin-right:15px;}
.reallocate{color:#6fcc51}
.reallocate:hover{color:#6fcc51}

/*allocate{color:orange}
.allocate:hover{color:orange}*/

.cOrange{color:orange;}
.flw80{float:left; width:80%;}
.w100{width:100%;}