#last_ren_year{background: #fff !important; border:2px solid blue;}
#reason_to_update{background: #fff !important; border:2px solid blue; width:100%  !important; margin-left: 44px;}
#last_ren_day_month{margin-left: 7px !important;}