/*Create new file for reject chemist application at ro side  added by laxmi Bhadade on 16-05-2023 for chemist_training module*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0 0 0 / 2%); /* Black w/ opacity */
    left :10px;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    /* background-color: #fefefe; */
    background: linear-gradient(#343a40,#17a2b8,#343a40);
    border: 2px solid #fff;
    margin: auto;
    padding: 0;
    /* border: 1px solid #888; */
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background: linear-gradient(#343a40,#17a2b8,#343a40);
    border: 2px solid #fff;
    color: white;
  }
  
  .modal-body {padding: 2px 16px; color:white;}
  
  .modal-footer {
    padding: 2px 16px;
    background: linear-gradient(#343a40,#17a2b8,#343a40);
    border: 2px solid #fff;
    color: white;
  }
  #rej_remark {
    height: 45px;
    color: #000;
    border: 1px solid #ccc;
  }


  .blink_me {
    animation: blinker 1s step-start infinite;;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }